
/*
 * Std Format
 */

body{
    background:rgb(39, 38, 38);
    margin: 0;
}

p{
    color:white;
}

li a:hover:not(.active) {
    background-color: rgb(27, 82, 185);
}

.main-block{
    background-color:rgb(59, 59, 59);
    padding: 12px;
    padding-top:5px;
    border-color:rgb(161, 161, 161);
    border-width:2px;
    border-style: solid;
}

/* 
 * Bottom Toolbar
 */

.toolbar{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 10px;
    padding-top:0px;
    overflow: hidden;
    background-color: rgb(52, 122, 226);
}

.toolbar li {
     float: left;
 }

 .toolbar li a {
     display: block;
     color: rgb(255, 255, 255);
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 .toolbar li p{
     color: rgb(255, 255, 255);
     text-align: center;
     padding: 0px 16px;
     text-decoration: none;
 }

#bottom-toolbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 5px;
    height: 30px;
}

/*
 * The Title
 */
 #title{
    height: 10px;
    line-height: 10px; /* <-- this is what you must define */
    vertical-align: middle;
    font-size:25px;
 }

 /*
  * CMD Button
  */
.cmd-button{
    min-width:80px;
    border-radius: 2px;
    border-color:gray;
    border-style:solid;
    font-size:20px;
    background-color:rgb(247, 247, 247);
}
